<div id="month">
    <p><b>Продано(шт.) за месяц:</b> {{statistics_per_month.quantity}}</p>
    <p><b>Продано(руб.) за месяц:</b> {{statistics_per_month.price}} руб.</p>
    <p><b>Количество заказов за месяц:</b>{{statistics_per_month.count}} </p>
    <p><b>Количество клиентов за месяц:</b> {{statistics_per_month.unique_clients}}</p>
    <p><b>Общий объем продукции за месяц(дал):</b> {{statistics_per_month.volume}}</p>
</div>

<div id="year" style="display: none">
    <p><b>Продано(шт.) за год:</b> {{statistics_per_year.quantity}}</p>
    <p><b>Продано(руб.) за год:</b> {{statistics_per_year.price}} руб.</p>
    <p><b>Количество заказов за год:</b>{{statistics_per_year.count}}</p>
    <p><b>Количество клиентов за год:</b>{{statistics_per_year.unique_clients}}</p>
    <p><b>Общий объем продукции за год(дал):</b> {{statistics_per_year.volume}}</p>
</div>
